Adafruit-Blinka==8.62.0
adafruit-circuitpython-busdevice==5.2.13
adafruit-circuitpython-connectionmanager==3.1.5
adafruit-circuitpython-mcp230xx==2.5.18
adafruit-circuitpython-motor==3.4.17
adafruit-circuitpython-pca9685==3.4.19
adafruit-circuitpython-register==1.10.4
adafruit-circuitpython-requests==4.1.13
adafruit-circuitpython-servokit==1.3.21
adafruit-circuitpython-typing==1.12.1
Adafruit-PlatformDetect==3.81.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
certifi==2025.8.3
charset-normalizer==3.4.3
docutils==0.22
ds18b20==0.1.3
filetype==1.2.0
idna==3.10
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
numpy==2.2.5
pillow==10.4.0
pyftdi==0.56.0
Pygments==2.19.2
pyserial==3.5
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
setuptools==80.9.0
smbus2==0.5.0
sysv_ipc==1.1.0
typing_extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1
#dtoverlay=i2c-gpio,bus=3,i2c_gpio_sda=23,i2c_gpio_scl=24